<div class="container marged-top">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 signform sm-marged-bottom">
      <div class="text-center">
        <%= cl_image_tag(set_user_image(@user), width: 90, height: 90, crop: :thumb, gravity: :face, class: "avatar-profile") %>
      </div>
      <br>
      <h2 class="text-center">Hello <%= set_username(current_user) %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :username, label: "Change your username" %>
          <br>
          <%= f.input :email, required: true, autofocus: true %>
          <br>
          <%= f.input :photo, label: "Change your photo", as: :attachinary %>
          <br>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <br>
          <%= f.input :password, label: "Change your password", autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
          <%= f.input :password_confirmation, required: false %>
          <br>
          <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
        </div>

        <div class="form-actions text-center">
          <%= f.button :submit, "Update" %>
          <%= link_to "Back", :back, class: "btn btn-primary banner-cta" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 signform text-center">
      <h3>Cancel my account</h3>

      <p>Do you want to escape?</p>
      <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary banner-cta" %>
    </div>
  </div>
</div>
