<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 signform marged-top">
      <h2 class="text-center">Sign up</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="form-inputs sign-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class:"btn btn-primary large_bottom_margin "%>
        </div>
      <% end %>

      <p>Already have an account? <%= render "devise/shared/links" %></p>
    </div>
  </div>
</div>
