<% content_for(:title_tag) do %>
  <%= "Bookings" %>
<% end %>

<div class="banner-bookings" style="background-color: #B3B3B3">

  <div class="container-fluid">
    <div class="row">

      <div class="banner-bookings-content text-center">

        <div class="col-md-12">
          <div class="card banner-bookings-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path set_horntrip_image(@horntrip), crop: :scale %>');">
          </div>
        </div>

        <div class="col-md-12">
          <div class="banner-bookings-text">
            <h2 class="banner-bookings-title"><strong>Here are the bookings for : " <%= @horntrip.title %> "</strong></h2>
            <p class="banner-bookings-tagline">Description: <%= @horntrip.description %></p>
          </div>
          <ul class="list-inline">HornTrip features:
            <% if !@horntrip.is_outside.nil? %>
              <%= @horntrip.is_outside ? "Outside" : "Inside" %>
            <% end %>
            <% if !@horntrip.is_outside.nil? %>
              <%= @horntrip.is_dirty ? "Dirty" : "Clean" %>
            <% end %>
            <% if !@horntrip.is_outside.nil? %>
              <%= @horntrip.is_food ? "Food" : "No food" %>
            <% end %>

          </ul>
        </div>
        <div class="col-xs-12">
          <div class="banner-bookings-content-right">
            <p class="banner-bookings-brand">Price : <%= @horntrip.price %> €</p>
            <p class="banner-bookings-brand">Date : <%= @horntrip.starting_day %></p>
            <p class="banner-bookings-brand"><%= @horntrip.length %> <%= @horntrip.length > 1 ? "days" : "day" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid xmarged">
  <div class="row">
    <div class="type-bookings">
      <div class="col-xs-12 col-md-4 one-type-bookings">
        <h3 class="text-center" style="color: $red">Cancelled</h3>
        <% @bookings.where(status: "cancelled").each do |booking| %>
          <div class="card card-bookings">
            <div class="card-email text-center"><%= booking.user.email %></div>
            <div><%= cl_image_tag set_user_image(booking.user), class: "avatar-xlarge" %>
            </div>
            <div class="card-icons">
              <a data-toggle="modal" data-target="#myModal1"><i class="fa fa-check middle" aria-hidden="true"></i></a>

                  <!-- Modal to confirm from cancelled bookings-->

                  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Do you want to confirm this booking ?</h4>
                        </div>
                        <div class="modal-body">
                          <p>An email will be sent to <%= booking.user.email %>.</p>
                        </div>
                        <div class="modal-footer">
                          <%= link_to "OK!", horntrip_cancel_booking_path(@horntrip, booking), method: :put, class: "btn btn-primary confirm" %>
                        </div>
                      </div>
                    </div>
                  </div>

            </div>
          </div>
        <% end %>
      </div>

      <div class="col-xs-12 col-md-4 one-type-bookings">
        <h2 class="text-center">Pending</h2>
        <% @bookings.where(status: "pending").each do |booking| %>
          <div class="card card-bookings">
            <div class="card-email text-center"><%= booking.user.email %></div>
            <div><%= cl_image_tag set_user_image(booking.user), class: "avatar-xlarge" %>
            </div>
            <div class="card-icons">
              <a data-toggle="modal" data-target="#myModal2"><i class="fa fa-times" aria-hidden="true"></i></a>

                <!-- Modal to cancel from pending bookings-->

                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Do you want to cancel this booking ?</h4>
                      </div>
                      <div class="modal-body">
                        <p>An email will be sent to <%= booking.user.email %>.</p>
                      </div>
                      <div class="modal-footer">
                        <%= link_to "OK!", horntrip_cancel_booking_path(@horntrip, booking), method: :put , class: "btn btn-primary cancel" %>
                      </div>
                    </div>
                  </div>
                </div>

              <a data-toggle="modal" data-target="#myModal3"><i class="fa fa-check" aria-hidden="true"></i></a>

                <!-- Modal to confirm from pending bookings-->

                <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Do you want to confirm this booking ?</h4>
                      </div>
                      <div class="modal-body">
                        <p>An email will be sent to <%= booking.user.email %>.</p>
                      </div>
                      <div class="modal-footer">
                        <%= link_to "OK!", horntrip_confirm_booking_path(@horntrip, booking), method: :patch, class: "btn btn-primary confirm" %>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
          </div>
        <% end %>
      </div>

      <div class="col-xs-12 col-md-4 one-type-bookings">
        <h3 class="text-center" style="color: $green">Confirmed</h3>
        <% @bookings.where(status: "confirmed").each do |booking| %>
          <div class="card card-bookings">
            <div class="card-email text-center"><%= booking.user.email %></div>
            <div><%= cl_image_tag set_user_image(booking.user), class: "avatar-xlarge" %>
            </div>
            <div class="card-icons">
              <a data-toggle="modal" data-target="#myModal4"><i class="fa fa-times middle" aria-hidden="true"></i></a>

                  <!-- Modal to cancel from confirmed bookings-->

                  <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Do you want to cancel this booking ?</h4>
                        </div>
                        <div class="modal-body">
                          <p>An email will be sent to <%= booking.user.email %>.</p>
                        </div>
                        <div class="modal-footer">
                          <%= link_to "OK!", horntrip_confirm_booking_path(@horntrip, booking), method: :patch, class: "btn btn-primary cancel" %>
                        </div>
                      </div>
                    </div>
                  </div>

            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>




