<div class="container trip-description-card col-md-6 col-md-offset-3">
  <div class="row">
    <div class="col-xs-12 col-md-9">
        <h1>Votre demande de booking :</h1>
        <hr>
        <p>Horntrip : <%= @booking.horntrip.title %></p>
        <p>Votre guide : <%= @booking.horntrip.user.email %></p>
        <hr>
        <div class="trip-description only-small-screen text-center">
          <%= cl_image_tag set_horntrip_image(@booking.horntrip) %>
          <p>Price: <%= @booking.status %> euros</p>
          <p>Price: <%= @booking.horntrip.price %> euros</p>
        </div>
        <hr>
        <h1 class="text-center">Status : <%= @booking.status %> </h1>
        <hr>
        <p>Programme :</p>
        <p><%= @booking.horntrip.description %></p>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="trip-description affix only-large-screen">
        <%= cl_image_tag set_horntrip_image(@booking.horntrip) %>
        <p>Price: <%= @booking.horntrip.price %> euros</p>
      </div>
    </div>
  </div>
</div>

