<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="marged-top marged-bottom">
        <h2 class="sm-marged-bottom">Choose your next adventure</h2>
        <p class="sm-marged-bottom">You're looking for new sensations in your life ? Give youself the chance to experiment complete new experiences going for an incredible adventure that feets with your skills.</p>
        <%= link_to 'Choose a trip', horntrips_path, class: "btn btn-primary" %>
      </div>
      <% if current_user.bookings %>
        <h2 class="sm-marged-bottom">Your adventures</h2>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% if current_user.bookings %>
      <% @user_bookings.each do |user_booking| %>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="sm-marged-bottom">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path set_horntrip_image(user_booking.horntrip), crop: :scale %>');">
            <div class="card-category"><%= user_booking.status %></div>
            <div class="card-description">
            <h2><%= user_booking.horntrip.title %></h2>
            <p><%= user_booking.horntrip.description %></p>
            </div>
            <%= link_to '', horntrip_booking_path(user_booking.horntrip_id, user_booking.id), class:"card-new-link" %>
          </div>
        </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
