<div class="banner" style="background-image: linear-gradient(-225deg, rgba(236, 240, 241,0.2) 0%, rgba(0,36,61,0.6) 50%), url( <%= image_path 'mike_north.jpg' %> );">
  <div class="banner-content">
    <div class="row">
      <h1>Are you sure to be wild ?</h1>
      <span class="banner-text"><p>Hornhub, the hotest experience of extreme tourism.</p></span>
    </div>
    <div class="row">
    <%= form_tag(horntrips_path, method: "get", class: "form-inline") do %>
        <%= text_field_tag("horntrip[q]", "", options = {placeholder: "Enter a location", class: "form-control"}) %>
        <%= submit_tag("Browse adventures", options = {class: "btn btnhome banner-cta"}) %>
    <% end %>
    </div>
  </div>
</div>
<div class="wrapper" id="benefits">
  <div class="container padded-top">
    <div class="col-sm-3 text-center">
      <%= image_tag 'find_expert.png', style:"height:70px"%>
      <h4>Find experts</h4>
    </div>
    <div class="col-sm-3 text-center horntrip-benefit">
      <%= image_tag 'go_deep.png', style:"height:70px"%>
      <h4>Losse yourself</h4>
    </div>
    <div class="col-sm-3 text-center horntrip-benefit">
      <%= image_tag 'learn_skills.png', style:"height:70px"%>
      <h4>Learn skills</h4>
    </div>
    <div class="col-sm-3 text-center horntrip-benefit">
      <%= image_tag 'sensations.png', style:"height:70px"%>
      <h4>live sensations</h4>
    </div>
  </div>
</div>
</div>


<div class="container-fluid padded-top">
  <h3 class="readme-header text-center">Daily Specials HornTrips !</h3>
  <div class="row">

    <% @horntrips.where.not(user_id: current_user).last(3).each do |horntrip| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card home-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path set_horntrip_image(horntrip), crop: :scale %>');">
          <div class="card-description">
            <h2><%= horntrip.title %></h2>
            <p><%= set_username(horntrip.user) %></p>
          </div>
          <%= cl_image_tag set_user_image(horntrip.user), class: "card-user avatar" %>
          <%= link_to "", horntrip_path(horntrip), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


