<% content_for(:title_tag) do %>
  <%= "HornTrips" %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 search-filters">
    <%= simple_form_for :horntrip, :method => 'get', :url => horntrips_path, :html => {:class => '.search-filters'} do |f| %>
      <div class="form-inline text-center search-filter">
        <%= f.input :q, as: "hidden", input_html: {value: @location} %>
        <div class="search-filter-item"><%= f.input :is_outside, label: "Outside", as: :boolean, input_html: {checked: params[:horntrip][:is_outside] == "1"} %></div>
        <div class="search-filter-item"><%= f.input :is_dirty, label: "Dirty", as: :boolean, input_html: {checked: params[:horntrip][:is_dirty] == "1"} %></div>
        <div class="search-filter-item"><%= f.input :is_food, label: "Hunt yourself", as: :boolean, input_html: {checked: params[:horntrip][:is_food] == "1"} %></div>
        <%= f.button :submit, "Filter", class:"btn btn-primary"%>
      </div>
    <% end %>
    </div>
  </div>
</div>

<h3 class="readme-header text-center">HornTrips near <%= @location %> </h3>

<div class="container">
  <div class="row">
    <% @horntrips.each do |horntrip| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path set_horntrip_image(horntrip), crop: :scale %>');">
          <div class="card-description">
            <h2><%= horntrip.title %></h2>
            <p><%= horntrip.description %></p>
            <p><%= horntrip.user.email %></p>
          </div>
          <%= cl_image_tag set_user_image(horntrip.user), class: "card-user avatar" %>
          <%= link_to "", horntrip_path(horntrip), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
