<div class="container trip-description-card col-md-6 col-md-offset-3">
  <div class="row">
    <div class="col-md-9 col-sm-12">
        <h1><%= @horntrip.title %></h1>
        <p>Proposé par : <%= @horntrip.user %></p>
        <p>Au programme : <%= @horntrip.description %></p>
        <p><%= @horntrip.location %></p>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="affix trip-description">
        <%= image_tag "https://a0.muscache.com/im/pictures/f8b51a41-900b-4312-9ea0-d141133a116d.jpg?aki_policy=xl_poster" %>
        <p>Price: <%= @horntrip.price %> euros</p>
        <button type="button" class="btn btn-danger">Book your trip</button>
      </div>
    </div>
  </div>
</div>
